input, label, button, select {
  margin: 5px;
  font-family: sans-serif;
}

#button-panel, #info-panel {
  justify-self: center;
  grid-column: 1 / -1;
  margin-top: 10px;
}

.accesskey {
  text-decoration: underline;
}

#info-message {
  margin: 15px 0 0 5px;
  visibility: hidden;
}

.scrollbar-indicator-setting {
  margin-left: 20px;
}

form {
  display: grid;
  grid-template-columns: max-content min-content;
  justify-items: left;
  width: min-content;
}
