span {
  padding: 5px;
  display: table-cell;
  border: 1px solid lightgray;
  text-align: center;
}

span[id^='mark-']:hover, .clickable:hover {
  background-color: gray;
  cursor: pointer;
}

.tooltip-image {
  visibility: hidden;
  position: absolute;
}

.tooltip-image:hover {
  cursor: pointer;
}

.visible {
  visibility: visible;
}

.table {
  display: table;
  margin: 5px;
}

.row {
  display: table-row;
}
